/*nor*/
* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 20px
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/*lib*/
.row::after {
    content: "";
    clear: both;
    display: block;
}

/*section*/
section {
    width: 1000px;
    margin: 0 auto;
    margin-top: 150px;
}

/*header*/
header {
    width: 100%;
    height: 100px;
    line-height: 100px;
}

/*logo*/
.logo{
    width: 200px;
    height: 100%;
    background-color: #999;
    float: left;
}

/*menu*/
.menu {
    width: 800px;
    height: 100%;
    background-color: #888;
    float: left;
}

/*slide*/
.slide {
    width: 1000px;
    height: 300px;
    background-color: #777;
    line-height: 300px;
}

/*banner*/
.banner {
    width: 1000px;
    height: 200px;
    line-height: 200px;
}
.banner>div {
    width: 33.3333%;
    height: 100%;
    float: left;
}
.notice {
    background-color: #666;
}
.gallery {
    background-color: #555;
}
.content {
    background-color: #444;
}


/*footer*/
footer {
    width: 100%;
    height: 100px;
}
.foot-left {
    width: 800px;
    height: 100%;
    float: left;
    line-height: 50px;
}
.foot-left div {
    float: left;
}
.foot-menu {
    width: 100%;
    height: 50px;
    background-color: #999;
}
.copyright {
    width: 100%;
    height: 50px;
    background-color: #888;
}
.foot-logo {
    width: 200px;
    height: 100%;
    background-color: #777;
    float: left;
    line-height: 100px;
}


/*popup*/
.layerpopup {
    width: 100%;
    height: 100%;
}
.layerpopup:hover {
    text-decoration: underline;
}
.layer {
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 400px;
    background-color: black;
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid yellow;
    position: fixed;
    display: none;
}
.layer>h2 {
    text-align: left;
}
.layer>.close-btn {
   background-color: black;
    transition: 0.5s;
    color: white;
    border: none;
    padding: 10px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.layer>.close-btn:hover {
   background-color: ghostwhite;
    color: black;
    transition: 0.5s;
    border: none;
}
.layer-bg {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    z-index: 50;
}